version: '3.9'

networks:
  k6:
  plumbing:

services:
  plumbing-service:
    image: plumbing-api:latest
    build:
      context: .
    container_name: plumbing-service
    networks:
      - plumbing
    depends_on:
      - postgres
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/plumbing_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=pwd
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
    ports:
      - "7777:7777/tcp"

  postgres:
    image: postgres:15.1
    container_name: postgres
    networks:
      - plumbing
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pwd
      - POSTGRES_DB=plumbing_db
    volumes:
      - /Users/m.muradov/Desktop/k6_workshop/pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432/tcp"


  prometheus:
    image: prom/prometheus:v2.44.0
    container_name: prometheus
    networks:
      - plumbing
      - k6
    command:
      - --web.enable-remote-write-receiver
      - --enable-feature=native-histograms
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus-config/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:10.1.2
    container_name: grafana
    networks:
      - plumbing
      - k6
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
    volumes:
      - ./monitoring/grafana:/etc/grafana/provisioning
